/* welcome to elphel393 device tree */
/include/ "zynq-base.dtsi"
/include/ "bootargs.dtsi"

/ {
	model = "Elphel 10393";
	
	ps7_axi_interconnect_0: amba@0 {
		
		ps7_ethernet_0: ps7-ethernet@e000b000 {
			local-mac-address = [00 0e 64 10 00 00];
			phy-handle = <&phy3>;
			phy-mode = "rgmii-id";
			mdio {
				#address-cells = <1>;
				#size-cells = <0>;
				phy3: phy@3 {
					compatible = "atheros,8035";
					device_type = "ethernet-phy";
					reg = <0x3>;
				};
			};
		};
		
		ps7_smcc_0: ps7-smcc@e000e000 {
			ps7_nand_0: ps7-nand@e1000000 {
				compatible = "arm,pl353-nand-r2p1";
				reg = < 0xe1000000 0x1000000 >;
				/*arm,nand-clk-freq-hz = <0x5f5e100>;*/
				arm,nand-width = <0x8>;
				arm,nand-cycle-t0 = <0x4>;
				arm,nand-cycle-t1 = <0x4>;
				arm,nand-cycle-t2 = <0x1>;
				arm,nand-cycle-t3 = <0x2>;
				arm,nand-cycle-t4 = <0x2>;
				arm,nand-cycle-t5 = <0x2>;
				arm,nand-cycle-t6 = <0x4>;
				#address-cells = <0x1>;
				#size-cells = <0x1>;
				partition@0 {
					label = "u-boot-spl";
					reg = <0x0 0x100000>;/*1MB for backup spl image(s)*/
				};
				partition@1 {
					label = "u-boot";
					reg = <0x100000 0x400000>;/*4MB*/
				};
				partition@2 {
					label = "device-tree";
					reg = <0x500000 0x100000>;/*1MB*/
				};
				partition@3 {
					label = "kernel";
					reg = <0x600000 0x1000000>;/*16MB*/
				};
				partition@4 {
					label = "rootfs";
					reg = <0x1600000 0x10000000>;/*256MB*/
				};
			} ;
		} ;
		
		elphel_ahci: elphel-ahci@80000000 {
			compatible = "elphel,elphel-ahci";
			interrupt-parent = <&ps7_scugic_0>;
			interrupts = <0x0 0x1d 0x4>;
			reg = <0x80000000 0x1000>;
			clb_offs = <0x800>;
			fb_offs = <0xc00>;
		};
	};
	
	elphel393_pwr: elphel393-pwr@0 {
		compatible = "elphel,elphel393-pwr-1.00";
		elphel393_pwr,simulate=          <0>;
		elphel393_pwr,i2c_chips=         <0x20 0x21 0x34>;
		elphel393_pwr,vp15.r1=           <357000>;
		elphel393_pwr,vp15.r2=           <287000>;
		elphel393_pwr,vcc_sens01.r1=     <787000>;
		elphel393_pwr,vcc_sens01.r2=     <287000>;
		elphel393_pwr,vcc_sens23.r1=     <787000>;
		elphel393_pwr,vcc_sens23.r2=     <287000>;
		elphel393_pwr,vp5.r1=            <523000>;
		elphel393_pwr,vp5.r2=            <100000>;
		elphel393_pwr,vldo18.r1=         <357000>;
		elphel393_pwr,vldo18.r2=         <287000>;
		elphel393_pwr,channels_disable= "vcc_sens23 vp33sens23";
		elphel393_pwr,pinstrapped_oven=  <1>;
		elphel393_pwr,vcc_sens01_mv=     <2800>; /* set sensor intreface voltage to 2.8V */
		elphel393_pwr,channels_enable=  "vcc_sens01 vp33sens01";
	} ;
	
	elphel393_mem: elphel393-mem@0 {
		compatible = "elphel,elphel393-mem-1.00";
		memsize = <25600>;
	} ;
	
	elphel393_init: elphel393-init {
		compatible = "elphel,elphel393-init-1.00";
	} ;
	
	elphel393_circbuf: elphel393-circbuf {
		compatible = "elphel,elphel393-circbuf-1.00";
		/* set this to "disable" to disable drivers */
		status = "okay";
		interrupt-parent = <&ps7_scugic_0>;
		interrupts = <0x0 0x34 0x4>, <0x0 0x35 0x4>, <0x0 0x36 0x4>, <0x0 0x37 0x4>, <0x0 0x38 0x4>, <0x0 0x39 0x4>, <0x0 0x3A 0x4>, <0x0 0x3B 0x4>;
		interrupt-names = "frame_sync_irq_0", "frame_sync_irq_1", "frame_sync_irq_2", "frame_sync_irq_3",
		                  "compr_irq_0", "compr_irq_1", "compr_irq_2", "compr_irq_3";
	};
	
	elphel393_framepars: elphel393-framepars {
		compatible = "elphel,elphel393-framepars-1.00";
		/* set this to "disable" to disable drivers */
		status = "okay";
	};
	
	elphel393_sensor: elphel393-sensor {
		compatible = "elphel,elphel393-sensor-1.00";
		/* set this to "disable" to disable drivers */
		status = "okay";
	};
};